@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Martian+Mono:wght@200;300;400&family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');


/********************** AJUSTES GENERALES *********************/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%
}

:root{
    H1: 1.5rem;
    H2: 1.5rem;
    H3: 1.5rem;
    H4: 1.5rem;
    H5: 1.5rem;
    H6: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.25;
    
    --paddingGeneral: 30px
}


body {
    background-color:black;
    font-family: Martian Mono;
}

section {
    padding: var(--paddingGeneral);
}

a {
    text-decoration: none;
}
/********************** PORTADA *********************/

.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/images/Rick-And-Morty-PRE-MB-OPT.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: brightness(25%);
}

#logo_wiki_portada {
    width: 80%;
    margin: auto;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#logo_wiki_portada:hover {
    transform: scale(1.2);
}

#click_here {
    color: white;
    font-family: 'Creepster', cursive;
    font-size: 1.75rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 30px;
    text-align: center;
}

#click_here:hover {
    color: rgb(255, 187, 0);
}

@media only screen and (min-width: 768px) {
    .portada {
        background-image: url("../assets/images/Rick-And-Morty-PRE-PC-OPT.jpg");
    }

    #logo_wiki_portada {
        width: 40%;
        margin: auto;
    }

    #click_here {
        font-size: 2.5rem;
    }
}


/********************** WIKI *********************/

.wiki_body {
    height: 100vh;
    background-image: url("../assets/images/Rick-Morty-WIKI-BG-MB.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(25%);
}

#wiki_header {
    position:sticky;
    display:flex;
    flex-direction: column;
    top: 0;
    width: 100%;
}

#wiki_logo_cabecera {
    width: 90%;
    margin: auto;
}

#input_buscador{
    margin: 30px;
    padding: 10px;
    padding-left: 20px;
    font-size: 1rem;
    font-family:Creepster;
    border: none;
    border-radius: 200px;
}

@media only screen and (min-width: 768px) {

#wiki_header {
    flex-direction: row;
    display:flex;

}

#wiki_logo_cabecera {
    width: 400px;
    margin-left: var(--paddingGeneral);
}

#input_buscador{
    margin: var(--paddingGeneral);
    height: 50px;
    width: 40%;
    padding-left: 20px;
    font-size: 1.5rem;
    font-family: Creepster;
    border: none;
    border-radius: 100pc;
}

}


p {
    color: aliceblue;
}


